.header h1 {
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 4px;
}

.header p {
    font-size: 0.75rem;
    opacity: 0.7;
    margin-bottom: 25px;
}

.toggleplay {
    display: flex;
    justify-content: center;
}

.toggleplay button {
    width: 50px;
    height: 50px; 
    border-radius: 50%;
    border: none;

    background: white;
    color: #111;

    font-size: 1rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);

    transition: transform 0.15s ease, box-shadow 0.15s ease;
}


.playlist {
    height: 100px;
    list-style: none;
}


.time {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 1rem;
    font-size: 1rem; 
}

.seek {
    width: 100%;
    margin-top: 30px;
}

.record {
    width: 250px;
    height: 250px;
    margin: 20px auto;
}

.record img {
    width: 100%;
    height: 100%;
    border-radius: 50%;

    border: 5px solid white;
    border-radius: 50%;

    box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0.2);

    animation: spin 4s linear infinite;
    animation-play-state: paused;
}

.record.spinning img {
    animation-play-state: running;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

