.time {
    display: flex;
    justify-content:flex-start; 
}

.record {
    width: 250px;
    height: 250px;
    margin: 20px auto;
}

.record img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinning img {
    animation: spin 4s linear infinite;
}