#root {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;

    background: linear-gradient(
    0deg,
    #080808,
    #057ae0);

    color: white;
}